# import data & Pre-processing

In [1]:
import pandas as pd
df = pd.read_csv("C:/Users/user/RPA/book_recording_sample.csv") #일단 불러옴
#전처리
#pd.options.display.max_colwidth = 50
#필요 없는 줄 날리기, 세번째 행부터, 6번째 열까지만 가져오기
df = pd.DataFrame(df.values[3:,:6])
df.columns = ["name","section", "year", "grade","sem","book"]#column 이름 지정
df = df.dropna(how='all')#모든 칸이 nan인 행 지우기
df = df.fillna(method='ffill') #행별로 이름 채우기(전 행의 이름과 동일함)
df.drop(df[df['name'] =='이  름'].index, inplace = True) #페이지 넘어갈 때 있는 열이름 삭제
original = df.values.tolist() #list로
pd.options.display.max_colwidth = 100
df.head(3)

,name,section,year,grade,sem,book
0,강철수,공통,2018,1,1,"서민의 기생충 열전(서미), 과학 일시정지(가치를 꿈꾸는 과학교사모임), 모든 순간의 물리학(카를로 로벨리), 미래학자의 인공지능 시나리오(최윤식), 내 휴대폰 속의 슈퍼스..."
1,강철수,수학,2018,1,2,수학의 역사(지즈강)
2,강철수,공통,2018,1,2,"완득이(김려령), 나미야 잡화점의 기적(히가시노 게이고)"

# 중복된 부분 찾기 (1) 책이름과 저자명이 완벽히 일치

In [9]:
# 중복된 부분 찾기 (1) 책이름과 저자명이 완벽히 일치
for student in df.name.unique():
  #학생별로 도서명 문자열로 담기
  temp = df[df.name==student]
  all_book = temp.book.tolist()
  book_list_incomplete = []
  for book_by_row in all_book :   
    book_list_incomplete = book_list_incomplete+book_by_row.split("), ")

  #print("1. " , book_list_incomplete)

  # 빈 문자열 원소 제거 및 괄호 처리하기
  book_list = []
  for book in book_list_incomplete:
    if len(book)==0:
      continue
    elif book[-1]==")":
      book_list.append(book)
    else:
      book_list.append(book+")")
  #print("2. " , book_list)

  # 중복 횟수 세기
  book_count={}
  lists = book_list
  for i in lists:
      try: book_count[i] += 1
      except: book_count[i]=1
  #print("3. " , book_count)

  # 중복 횟수가 2 이상인 아이템의 key만 담기
  book_duplicated = []
  for k, v in book_count.items():
      if v >= 2: 
          book_duplicated.append(k)
  #print("4. " , book_duplicated)

  # 출력하기
  if len(book_duplicated)>0:
    print('\n',student, "학생의 중복된 항목이 있습니다....:", book_duplicated)
    print('다음 영역 중에서 찾아보세요.')
    for i in range(len(book_duplicated)):
      display(temp[temp['book'].str.contains(book_duplicated[i][:2])]) 
  else:
    continue

 강철수 학생의 중복된 항목이 있습니다....: ['수학의 역사(지즈강)']
다음 영역 중에서 찾아보세요.

  name section  year grade sem                                           book
1  강철수      수학  2018     1   2                                    수학의 역사(지즈강)
7  강철수      수학  2019     2   2                                 수학비타민 플러스(박경미)
9  강철수      공통  2019     2   2  수학의 역사(지즈강), The brain(데이비드 이글먼), 열두 발자국(정재승)

 고영희 학생의 중복된 항목이 있습니다....: ['나를 찾는 심리 탐구서(박진영)']
다음 영역 중에서 찾아보세요.

,name,section,year,grade,sem,book
21,고영희,국어,2019,2,1,"나를 찾는 심리 탐구서(박진영), 이 정도는 알아야 하는 최소한의 국제 이슈(연유진 외)"
34,고영희,국어,2020,3,2,"나를 찾는 심리 탐구서(박진영), 나는 말랄라(말랄라 유사이프, 퍼트리샤 매코믹)"

# 중복된 부분 찾기 (2) 오타 등이 포함되어있는 경우

In [10]:
# 중복된 부분 찾기 (2) 오타 등이 포함되어있는 경우
pd.options.display.max_colwidth = 1000

for student in df.name.unique():
  #학생별로 도서명 문자열로 담기
  temp = df[df.name==student]
  all_book = temp.book.tolist()
  ####################################
  book_list_incomplete = []
  for book_by_row in all_book :   
    book_split = book_by_row.replace("("," ").replace(")"," ").replace(","," ")
    book_list_incomplete = book_list_incomplete + book_split.split(" ")
  book_list_incomplete = list(filter(None, book_list_incomplete))
  
  # 중복 횟수 세기
  book_count={}
  lists = book_list_incomplete
  for i in lists:
      try: book_count[i] += 1
      except: book_count[i]=1

  book_duplicated = []
  for k, v in book_count.items():
      if (v >= 2) & (len(k)>1): 
          book_duplicated.append([k,v])

  if len(book_duplicated)>0:
    print(student, "학생의 중복된 항목이 있습니다....:", book_duplicated)
    print('다음 영역 중에서 찾아보세요.')
    for i in range(len(book_duplicated)):
      print('\n중복된 단어와 중복 횟수 : ',book_duplicated[i])
      display(temp[temp['book'].str.contains(book_duplicated[i][0])]) 
  else:
    continue

강철수 학생의 중복된 항목이 있습니다....: [['과학', 3], ['이야기', 2], ['수학의', 2], ['역사', 2], ['지즈강', 2], ['정재승', 2], ['나는', 2], ['말랄라', 2]]
다음 영역 중에서 찾아보세요.

중복된 단어와 중복 횟수 :  ['과학', 3]

,name,section,year,grade,sem,book
0,강철수,공통,2018,1,1,"서민의 기생충 열전(서미), 과학 일시정지(가치를 꿈꾸는 과학교사모임), 모든 순간의 물리학(카를로 로벨리), 미래학자의 인공지능 시나리오(최윤식), 내 휴대폰 속의 슈퍼스파이(타니아 로이드 치), 왜 세계의 절반은 굶주리는가(장 지글러), 할아버지가 들려주는 우주 이야기(위베르 리브스)"
4,강철수,과학,2019,2,1,"하리하라의 몸 이야기(이은희), 4차 산업혁명 세상을 바꾸는 14가지 미래 기술(한국경제TV 산업팀), 과학, 리플레이(가치를꿈꾸는과학교사모임), 과학 콘서트(정재승)"
13,강철수,공통,2020,3,2,"탐정이 된 과학자들(마릴리 피터스), 바이러스 쇼크(최강석)"

중복된 단어와 중복 횟수 :  ['이야기', 2]

,name,section,year,grade,sem,book
0,강철수,공통,2018,1,1,"서민의 기생충 열전(서미), 과학 일시정지(가치를 꿈꾸는 과학교사모임), 모든 순간의 물리학(카를로 로벨리), 미래학자의 인공지능 시나리오(최윤식), 내 휴대폰 속의 슈퍼스파이(타니아 로이드 치), 왜 세계의 절반은 굶주리는가(장 지글러), 할아버지가 들려주는 우주 이야기(위베르 리브스)"
4,강철수,과학,2019,2,1,"하리하라의 몸 이야기(이은희), 4차 산업혁명 세상을 바꾸는 14가지 미래 기술(한국경제TV 산업팀), 과학, 리플레이(가치를꿈꾸는과학교사모임), 과학 콘서트(정재승)"

중복된 단어와 중복 횟수 :  ['수학의', 2]

  name section  year grade sem                                           book
1  강철수      수학  2018     1   2                                    수학의 역사(지즈강)
9  강철수      공통  2019     2   2  수학의 역사(지즈강), The brain(데이비드 이글먼), 열두 발자국(정재승)

중복된 단어와 중복 횟수 :  ['역사', 2]

  name section  year grade sem                                           book
1  강철수      수학  2018     1   2                                    수학의 역사(지즈강)
9  강철수      공통  2019     2   2  수학의 역사(지즈강), The brain(데이비드 이글먼), 열두 발자국(정재승)

중복된 단어와 중복 횟수 :  ['지즈강', 2]

  name section  year grade sem                                           book
1  강철수      수학  2018     1   2                                    수학의 역사(지즈강)
9  강철수      공통  2019     2   2  수학의 역사(지즈강), The brain(데이비드 이글먼), 열두 발자국(정재승)

중복된 단어와 중복 횟수 :  ['정재승', 2]

,name,section,year,grade,sem,book
4,강철수,과학,2019,2,1,"하리하라의 몸 이야기(이은희), 4차 산업혁명 세상을 바꾸는 14가지 미래 기술(한국경제TV 산업팀), 과학, 리플레이(가치를꿈꾸는과학교사모임), 과학 콘서트(정재승)"
9,강철수,공통,2019,2,2,"수학의 역사(지즈강), The brain(데이비드 이글먼), 열두 발자국(정재승)"

중복된 단어와 중복 횟수 :  ['나는', 2]

,name,section,year,grade,sem,book
6,강철수,국어,2019,2,2,"달처럼 동그란 내 얼굴(미레유 디스데로), 나는 초콜릿의 달콤함을 모릅니다(타라 설리번)"
12,강철수,국어,2020,3,2,"나는 말랄라(말랄라 유사이프, 퍼트리샤 매코믹)"

중복된 단어와 중복 횟수 :  ['말랄라', 2]

   name section  year grade sem                        book
12  강철수      국어  2020     3   2  나는 말랄라(말랄라 유사이프, 퍼트리샤 매코믹)

고영희 학생의 중복된 항목이 있습니다....: [['김려령', 2], ['세상을', 2], ['과학자들', 2], ['역사', 2], ['만난', 3], ['제작팀', 2], ['알아야', 2], ['미래', 2], ['모파상', 2], ['나를', 2], ['찾는', 2], ['심리', 2], ['탐구서', 2], ['박진영', 2], ['국제', 2], ['조지', 2], ['오웰', 2], ['과학', 2], ['청소년을', 2], ['위한', 4], ['공부법', 2], ['아는', 2], ['10대', 2], ['나는', 3], ['어떻게', 2], ['재밌어서', 2], ['밤새', 2], ['읽는', 2], ['이야기', 6], ['다케오', 2], ['세계사', 2], ['정치', 2], ['이렇게', 2], ['마이클', 2], ['말랄라', 2], ['문명과', 2], ['수학', 2], ['10대를', 2]]
다음 영역 중에서 찾아보세요.

중복된 단어와 중복 횟수 :  ['김려령', 2]

,name,section,year,grade,sem,book
14,고영희,공통,2018,1,1,"국어교과서 작품읽기(김미영), 완득이(김려령), 갈매기의 꿈(리처드 바크), 바보 빅터(호아킴 데 포사다), 전갈의 아이(낸시 파머), 우아한 거짓말(김려령), 가시고기(조창인),"

중복된 단어와 중복 횟수 :  ['세상을', 2]

,name,section,year,grade,sem,book
18,고영희,공통,2018,1,1,세상을 살린 10명의 과학자들(레슬리 덴디)
33,고영희,공통,2020,3,1,"다케오), 1등은 당신처럼 공부하지 않았다(김도윤), 차이나는 클라스: 국제 정치 편(JTBC 제작진), 뇌 인간을 읽다(마이클 코벌리스), 전염병이 휩쓴 세계사(김서형), 진로를 정하지 못한 나, 비정상 인가요(최현정), 유토피아(토마스 모어), 세상을 바꿀 미래 의학 설명서(사라 라타), 공부 이래도 안되면 포기 하세요(이지훈), 유럽도시 기행I(유시민)"

중복된 단어와 중복 횟수 :  ['과학자들', 2]

,name,section,year,grade,sem,book
18,고영희,공통,2018,1,1,세상을 살린 10명의 과학자들(레슬리 덴디)
22,고영희,공통,2019,2,1,"동물농장(조지 오웰), 탐정이 된 과학자들(마릴리 피터스), 자본주의의 슈퍼스타들(브누아 시아), 하라하라의 과학 24시(이은희), 청소년을 위한 민주주의 여행(유영근), 과학의 놀라운 신비 75가지(제니 볼봅스키, 줄리아 로스먼, 매트 라모스), 왜 세계의 절반은 굶주리는가?(장 지글러), 혼자 공부법(송용섭), 역사 선생님과 떠나는 시간 나들이, 동아시아(박종현), 정재승의 과학 콘서트(정재승), 인류의 기원(이상희, 윤신영), 국제거래와 환율 쫌 아는 10대(석혜원)"

중복된 단어와 중복 횟수 :  ['역사', 2]

,name,section,year,grade,sem,book
19,고영희,수학,2018,1,2,수학의 역사(지즈강)
22,고영희,공통,2019,2,1,"동물농장(조지 오웰), 탐정이 된 과학자들(마릴리 피터스), 자본주의의 슈퍼스타들(브누아 시아), 하라하라의 과학 24시(이은희), 청소년을 위한 민주주의 여행(유영근), 과학의 놀라운 신비 75가지(제니 볼봅스키, 줄리아 로스먼, 매트 라모스), 왜 세계의 절반은 굶주리는가?(장 지글러), 혼자 공부법(송용섭), 역사 선생님과 떠나는 시간 나들이, 동아시아(박종현), 정재승의 과학 콘서트(정재승), 인류의 기원(이상희, 윤신영), 국제거래와 환율 쫌 아는 10대(석혜원)"

중복된 단어와 중복 횟수 :  ['만난', 3]

,name,section,year,grade,sem,book
20,고영희,공통,2018,1,2,"나미야 잡하점의 기적(히가시노 게이고), 트루먼 스쿨 악플 사건(도리 H.버틀러), 우리 만난 적 있나요(충남야생동물구조센터), 퇴계 달중이를 만나다(김은미), 다른게 나쁜건 아니잖아요(SBS 스페셜 제작팀), 설탕 세계를 바꾸다(마크 애론슨), 조선을 떠나며(이연식), 십대가 알아야 할 인공지능과 4차 산업혁명의 미래(전승민), 지킬 박사와 하이드(로버트 루이스 스티븐슨), 소나기(황순원), 모파상 단편선(기 드 모파상)"
26,고영희,공통,2019,2,2,"젠트리피케이션 쫌 아는 10대(장성익), 물 속을 나는 새(이원영), 청소년 농부 학교(김한수, 김경윤, 정화진), 광해군:탁월한 외교 정책을 펼친 군주(한명기), 노인과 바다(어니스트 헤밍웨이), 재밌어서 밤새 읽는 지구과학 이야기(사아키 다케오), 그 많던 싱아는 누가 다 먹었을까(박완서), 이지성의 꿈꾸는 다락방(이지성), 갈릴레오의 두 우주 체계에 관한 대화(오철우), 1984(조지 오웰), 동물원에서 만난 세계사(손주현), 청소년을 위한 공학 이야기(오원철, 김형주), 콜레라는 어떻게 문명을 구했나(존 퀘이조), 말랑하고 쫀득한 세계지리 이야기(케네스 C.데이비드), 왜 기후변화가 문제일까?(공우석)"
27,고영희,국어,2020,3,1,"길모퉁이에서 만난 사람(양귀자), 편의점 가는 기분(박영란)"

중복된 단어와 중복 횟수 :  ['제작팀', 2]

,name,section,year,grade,sem,book
20,고영희,공통,2018,1,2,"나미야 잡하점의 기적(히가시노 게이고), 트루먼 스쿨 악플 사건(도리 H.버틀러), 우리 만난 적 있나요(충남야생동물구조센터), 퇴계 달중이를 만나다(김은미), 다른게 나쁜건 아니잖아요(SBS 스페셜 제작팀), 설탕 세계를 바꾸다(마크 애론슨), 조선을 떠나며(이연식), 십대가 알아야 할 인공지능과 4차 산업혁명의 미래(전승민), 지킬 박사와 하이드(로버트 루이스 스티븐슨), 소나기(황순원), 모파상 단편선(기 드 모파상)"
35,고영희,공통,2020,3,2,"영어 1등급은 이렇게 공부한다(정승익), 전교 1등의 책상1(중앙일보 열려라 공부팀), 문명과 수학(EBS 문명과 수학 제작팀), 약국에 없는 약 이야기(박성규), 송동훈의 그랜드 특허 서유럽편(송동훈), 무소유(법정), 10대를 위한 완벽한 진로 공부법(앤디 림), 10대를 위한 JUSTICE 정의란 무엇인가(마이클 샌델), 이방인(알베르 카뮈), 손기원의 포스트 게놈 시대(손기원), 나쁜 사마리아인들(장하준), 10대와 통하는 건강이야기(권세원), 난장이가 쏘아 올린 작은 공(조세희)"

중복된 단어와 중복 횟수 :  ['알아야', 2]

,name,section,year,grade,sem,book
20,고영희,공통,2018,1,2,"나미야 잡하점의 기적(히가시노 게이고), 트루먼 스쿨 악플 사건(도리 H.버틀러), 우리 만난 적 있나요(충남야생동물구조센터), 퇴계 달중이를 만나다(김은미), 다른게 나쁜건 아니잖아요(SBS 스페셜 제작팀), 설탕 세계를 바꾸다(마크 애론슨), 조선을 떠나며(이연식), 십대가 알아야 할 인공지능과 4차 산업혁명의 미래(전승민), 지킬 박사와 하이드(로버트 루이스 스티븐슨), 소나기(황순원), 모파상 단편선(기 드 모파상)"
21,고영희,국어,2019,2,1,"나를 찾는 심리 탐구서(박진영), 이 정도는 알아야 하는 최소한의 국제 이슈(연유진 외)"

중복된 단어와 중복 횟수 :  ['미래', 2]

,name,section,year,grade,sem,book
20,고영희,공통,2018,1,2,"나미야 잡하점의 기적(히가시노 게이고), 트루먼 스쿨 악플 사건(도리 H.버틀러), 우리 만난 적 있나요(충남야생동물구조센터), 퇴계 달중이를 만나다(김은미), 다른게 나쁜건 아니잖아요(SBS 스페셜 제작팀), 설탕 세계를 바꾸다(마크 애론슨), 조선을 떠나며(이연식), 십대가 알아야 할 인공지능과 4차 산업혁명의 미래(전승민), 지킬 박사와 하이드(로버트 루이스 스티븐슨), 소나기(황순원), 모파상 단편선(기 드 모파상)"
33,고영희,공통,2020,3,1,"다케오), 1등은 당신처럼 공부하지 않았다(김도윤), 차이나는 클라스: 국제 정치 편(JTBC 제작진), 뇌 인간을 읽다(마이클 코벌리스), 전염병이 휩쓴 세계사(김서형), 진로를 정하지 못한 나, 비정상 인가요(최현정), 유토피아(토마스 모어), 세상을 바꿀 미래 의학 설명서(사라 라타), 공부 이래도 안되면 포기 하세요(이지훈), 유럽도시 기행I(유시민)"

중복된 단어와 중복 횟수 :  ['모파상', 2]

,name,section,year,grade,sem,book
20,고영희,공통,2018,1,2,"나미야 잡하점의 기적(히가시노 게이고), 트루먼 스쿨 악플 사건(도리 H.버틀러), 우리 만난 적 있나요(충남야생동물구조센터), 퇴계 달중이를 만나다(김은미), 다른게 나쁜건 아니잖아요(SBS 스페셜 제작팀), 설탕 세계를 바꾸다(마크 애론슨), 조선을 떠나며(이연식), 십대가 알아야 할 인공지능과 4차 산업혁명의 미래(전승민), 지킬 박사와 하이드(로버트 루이스 스티븐슨), 소나기(황순원), 모파상 단편선(기 드 모파상)"

중복된 단어와 중복 횟수 :  ['나를', 2]

,name,section,year,grade,sem,book
21,고영희,국어,2019,2,1,"나를 찾는 심리 탐구서(박진영), 이 정도는 알아야 하는 최소한의 국제 이슈(연유진 외)"
34,고영희,국어,2020,3,2,"나를 찾는 심리 탐구서(박진영), 나는 말랄라(말랄라 유사이프, 퍼트리샤 매코믹)"

중복된 단어와 중복 횟수 :  ['찾는', 2]

,name,section,year,grade,sem,book
21,고영희,국어,2019,2,1,"나를 찾는 심리 탐구서(박진영), 이 정도는 알아야 하는 최소한의 국제 이슈(연유진 외)"
34,고영희,국어,2020,3,2,"나를 찾는 심리 탐구서(박진영), 나는 말랄라(말랄라 유사이프, 퍼트리샤 매코믹)"

중복된 단어와 중복 횟수 :  ['심리', 2]

,name,section,year,grade,sem,book
21,고영희,국어,2019,2,1,"나를 찾는 심리 탐구서(박진영), 이 정도는 알아야 하는 최소한의 국제 이슈(연유진 외)"
34,고영희,국어,2020,3,2,"나를 찾는 심리 탐구서(박진영), 나는 말랄라(말랄라 유사이프, 퍼트리샤 매코믹)"

중복된 단어와 중복 횟수 :  ['탐구서', 2]

,name,section,year,grade,sem,book
21,고영희,국어,2019,2,1,"나를 찾는 심리 탐구서(박진영), 이 정도는 알아야 하는 최소한의 국제 이슈(연유진 외)"
34,고영희,국어,2020,3,2,"나를 찾는 심리 탐구서(박진영), 나는 말랄라(말랄라 유사이프, 퍼트리샤 매코믹)"

중복된 단어와 중복 횟수 :  ['박진영', 2]

,name,section,year,grade,sem,book
21,고영희,국어,2019,2,1,"나를 찾는 심리 탐구서(박진영), 이 정도는 알아야 하는 최소한의 국제 이슈(연유진 외)"
34,고영희,국어,2020,3,2,"나를 찾는 심리 탐구서(박진영), 나는 말랄라(말랄라 유사이프, 퍼트리샤 매코믹)"

중복된 단어와 중복 횟수 :  ['국제', 2]

,name,section,year,grade,sem,book
21,고영희,국어,2019,2,1,"나를 찾는 심리 탐구서(박진영), 이 정도는 알아야 하는 최소한의 국제 이슈(연유진 외)"
22,고영희,공통,2019,2,1,"동물농장(조지 오웰), 탐정이 된 과학자들(마릴리 피터스), 자본주의의 슈퍼스타들(브누아 시아), 하라하라의 과학 24시(이은희), 청소년을 위한 민주주의 여행(유영근), 과학의 놀라운 신비 75가지(제니 볼봅스키, 줄리아 로스먼, 매트 라모스), 왜 세계의 절반은 굶주리는가?(장 지글러), 혼자 공부법(송용섭), 역사 선생님과 떠나는 시간 나들이, 동아시아(박종현), 정재승의 과학 콘서트(정재승), 인류의 기원(이상희, 윤신영), 국제거래와 환율 쫌 아는 10대(석혜원)"
33,고영희,공통,2020,3,1,"다케오), 1등은 당신처럼 공부하지 않았다(김도윤), 차이나는 클라스: 국제 정치 편(JTBC 제작진), 뇌 인간을 읽다(마이클 코벌리스), 전염병이 휩쓴 세계사(김서형), 진로를 정하지 못한 나, 비정상 인가요(최현정), 유토피아(토마스 모어), 세상을 바꿀 미래 의학 설명서(사라 라타), 공부 이래도 안되면 포기 하세요(이지훈), 유럽도시 기행I(유시민)"

중복된 단어와 중복 횟수 :  ['조지', 2]

,name,section,year,grade,sem,book
22,고영희,공통,2019,2,1,"동물농장(조지 오웰), 탐정이 된 과학자들(마릴리 피터스), 자본주의의 슈퍼스타들(브누아 시아), 하라하라의 과학 24시(이은희), 청소년을 위한 민주주의 여행(유영근), 과학의 놀라운 신비 75가지(제니 볼봅스키, 줄리아 로스먼, 매트 라모스), 왜 세계의 절반은 굶주리는가?(장 지글러), 혼자 공부법(송용섭), 역사 선생님과 떠나는 시간 나들이, 동아시아(박종현), 정재승의 과학 콘서트(정재승), 인류의 기원(이상희, 윤신영), 국제거래와 환율 쫌 아는 10대(석혜원)"
26,고영희,공통,2019,2,2,"젠트리피케이션 쫌 아는 10대(장성익), 물 속을 나는 새(이원영), 청소년 농부 학교(김한수, 김경윤, 정화진), 광해군:탁월한 외교 정책을 펼친 군주(한명기), 노인과 바다(어니스트 헤밍웨이), 재밌어서 밤새 읽는 지구과학 이야기(사아키 다케오), 그 많던 싱아는 누가 다 먹었을까(박완서), 이지성의 꿈꾸는 다락방(이지성), 갈릴레오의 두 우주 체계에 관한 대화(오철우), 1984(조지 오웰), 동물원에서 만난 세계사(손주현), 청소년을 위한 공학 이야기(오원철, 김형주), 콜레라는 어떻게 문명을 구했나(존 퀘이조), 말랑하고 쫀득한 세계지리 이야기(케네스 C.데이비드), 왜 기후변화가 문제일까?(공우석)"

중복된 단어와 중복 횟수 :  ['오웰', 2]

,name,section,year,grade,sem,book
22,고영희,공통,2019,2,1,"동물농장(조지 오웰), 탐정이 된 과학자들(마릴리 피터스), 자본주의의 슈퍼스타들(브누아 시아), 하라하라의 과학 24시(이은희), 청소년을 위한 민주주의 여행(유영근), 과학의 놀라운 신비 75가지(제니 볼봅스키, 줄리아 로스먼, 매트 라모스), 왜 세계의 절반은 굶주리는가?(장 지글러), 혼자 공부법(송용섭), 역사 선생님과 떠나는 시간 나들이, 동아시아(박종현), 정재승의 과학 콘서트(정재승), 인류의 기원(이상희, 윤신영), 국제거래와 환율 쫌 아는 10대(석혜원)"
26,고영희,공통,2019,2,2,"젠트리피케이션 쫌 아는 10대(장성익), 물 속을 나는 새(이원영), 청소년 농부 학교(김한수, 김경윤, 정화진), 광해군:탁월한 외교 정책을 펼친 군주(한명기), 노인과 바다(어니스트 헤밍웨이), 재밌어서 밤새 읽는 지구과학 이야기(사아키 다케오), 그 많던 싱아는 누가 다 먹었을까(박완서), 이지성의 꿈꾸는 다락방(이지성), 갈릴레오의 두 우주 체계에 관한 대화(오철우), 1984(조지 오웰), 동물원에서 만난 세계사(손주현), 청소년을 위한 공학 이야기(오원철, 김형주), 콜레라는 어떻게 문명을 구했나(존 퀘이조), 말랑하고 쫀득한 세계지리 이야기(케네스 C.데이비드), 왜 기후변화가 문제일까?(공우석)"

중복된 단어와 중복 횟수 :  ['과학', 2]

,name,section,year,grade,sem,book
18,고영희,공통,2018,1,1,세상을 살린 10명의 과학자들(레슬리 덴디)
22,고영희,공통,2019,2,1,"동물농장(조지 오웰), 탐정이 된 과학자들(마릴리 피터스), 자본주의의 슈퍼스타들(브누아 시아), 하라하라의 과학 24시(이은희), 청소년을 위한 민주주의 여행(유영근), 과학의 놀라운 신비 75가지(제니 볼봅스키, 줄리아 로스먼, 매트 라모스), 왜 세계의 절반은 굶주리는가?(장 지글러), 혼자 공부법(송용섭), 역사 선생님과 떠나는 시간 나들이, 동아시아(박종현), 정재승의 과학 콘서트(정재승), 인류의 기원(이상희, 윤신영), 국제거래와 환율 쫌 아는 10대(석혜원)"
26,고영희,공통,2019,2,2,"젠트리피케이션 쫌 아는 10대(장성익), 물 속을 나는 새(이원영), 청소년 농부 학교(김한수, 김경윤, 정화진), 광해군:탁월한 외교 정책을 펼친 군주(한명기), 노인과 바다(어니스트 헤밍웨이), 재밌어서 밤새 읽는 지구과학 이야기(사아키 다케오), 그 많던 싱아는 누가 다 먹었을까(박완서), 이지성의 꿈꾸는 다락방(이지성), 갈릴레오의 두 우주 체계에 관한 대화(오철우), 1984(조지 오웰), 동물원에서 만난 세계사(손주현), 청소년을 위한 공학 이야기(오원철, 김형주), 콜레라는 어떻게 문명을 구했나(존 퀘이조), 말랑하고 쫀득한 세계지리 이야기(케네스 C.데이비드), 왜 기후변화가 문제일까?(공우석)"

중복된 단어와 중복 횟수 :  ['청소년을', 2]

,name,section,year,grade,sem,book
22,고영희,공통,2019,2,1,"동물농장(조지 오웰), 탐정이 된 과학자들(마릴리 피터스), 자본주의의 슈퍼스타들(브누아 시아), 하라하라의 과학 24시(이은희), 청소년을 위한 민주주의 여행(유영근), 과학의 놀라운 신비 75가지(제니 볼봅스키, 줄리아 로스먼, 매트 라모스), 왜 세계의 절반은 굶주리는가?(장 지글러), 혼자 공부법(송용섭), 역사 선생님과 떠나는 시간 나들이, 동아시아(박종현), 정재승의 과학 콘서트(정재승), 인류의 기원(이상희, 윤신영), 국제거래와 환율 쫌 아는 10대(석혜원)"
26,고영희,공통,2019,2,2,"젠트리피케이션 쫌 아는 10대(장성익), 물 속을 나는 새(이원영), 청소년 농부 학교(김한수, 김경윤, 정화진), 광해군:탁월한 외교 정책을 펼친 군주(한명기), 노인과 바다(어니스트 헤밍웨이), 재밌어서 밤새 읽는 지구과학 이야기(사아키 다케오), 그 많던 싱아는 누가 다 먹었을까(박완서), 이지성의 꿈꾸는 다락방(이지성), 갈릴레오의 두 우주 체계에 관한 대화(오철우), 1984(조지 오웰), 동물원에서 만난 세계사(손주현), 청소년을 위한 공학 이야기(오원철, 김형주), 콜레라는 어떻게 문명을 구했나(존 퀘이조), 말랑하고 쫀득한 세계지리 이야기(케네스 C.데이비드), 왜 기후변화가 문제일까?(공우석)"

중복된 단어와 중복 횟수 :  ['위한', 4]

,name,section,year,grade,sem,book
22,고영희,공통,2019,2,1,"동물농장(조지 오웰), 탐정이 된 과학자들(마릴리 피터스), 자본주의의 슈퍼스타들(브누아 시아), 하라하라의 과학 24시(이은희), 청소년을 위한 민주주의 여행(유영근), 과학의 놀라운 신비 75가지(제니 볼봅스키, 줄리아 로스먼, 매트 라모스), 왜 세계의 절반은 굶주리는가?(장 지글러), 혼자 공부법(송용섭), 역사 선생님과 떠나는 시간 나들이, 동아시아(박종현), 정재승의 과학 콘서트(정재승), 인류의 기원(이상희, 윤신영), 국제거래와 환율 쫌 아는 10대(석혜원)"
26,고영희,공통,2019,2,2,"젠트리피케이션 쫌 아는 10대(장성익), 물 속을 나는 새(이원영), 청소년 농부 학교(김한수, 김경윤, 정화진), 광해군:탁월한 외교 정책을 펼친 군주(한명기), 노인과 바다(어니스트 헤밍웨이), 재밌어서 밤새 읽는 지구과학 이야기(사아키 다케오), 그 많던 싱아는 누가 다 먹었을까(박완서), 이지성의 꿈꾸는 다락방(이지성), 갈릴레오의 두 우주 체계에 관한 대화(오철우), 1984(조지 오웰), 동물원에서 만난 세계사(손주현), 청소년을 위한 공학 이야기(오원철, 김형주), 콜레라는 어떻게 문명을 구했나(존 퀘이조), 말랑하고 쫀득한 세계지리 이야기(케네스 C.데이비드), 왜 기후변화가 문제일까?(공우석)"
35,고영희,공통,2020,3,2,"영어 1등급은 이렇게 공부한다(정승익), 전교 1등의 책상1(중앙일보 열려라 공부팀), 문명과 수학(EBS 문명과 수학 제작팀), 약국에 없는 약 이야기(박성규), 송동훈의 그랜드 특허 서유럽편(송동훈), 무소유(법정), 10대를 위한 완벽한 진로 공부법(앤디 림), 10대를 위한 JUSTICE 정의란 무엇인가(마이클 샌델), 이방인(알베르 카뮈), 손기원의 포스트 게놈 시대(손기원), 나쁜 사마리아인들(장하준), 10대와 통하는 건강이야기(권세원), 난장이가 쏘아 올린 작은 공(조세희)"

중복된 단어와 중복 횟수 :  ['공부법', 2]

,name,section,year,grade,sem,book
22,고영희,공통,2019,2,1,"동물농장(조지 오웰), 탐정이 된 과학자들(마릴리 피터스), 자본주의의 슈퍼스타들(브누아 시아), 하라하라의 과학 24시(이은희), 청소년을 위한 민주주의 여행(유영근), 과학의 놀라운 신비 75가지(제니 볼봅스키, 줄리아 로스먼, 매트 라모스), 왜 세계의 절반은 굶주리는가?(장 지글러), 혼자 공부법(송용섭), 역사 선생님과 떠나는 시간 나들이, 동아시아(박종현), 정재승의 과학 콘서트(정재승), 인류의 기원(이상희, 윤신영), 국제거래와 환율 쫌 아는 10대(석혜원)"
35,고영희,공통,2020,3,2,"영어 1등급은 이렇게 공부한다(정승익), 전교 1등의 책상1(중앙일보 열려라 공부팀), 문명과 수학(EBS 문명과 수학 제작팀), 약국에 없는 약 이야기(박성규), 송동훈의 그랜드 특허 서유럽편(송동훈), 무소유(법정), 10대를 위한 완벽한 진로 공부법(앤디 림), 10대를 위한 JUSTICE 정의란 무엇인가(마이클 샌델), 이방인(알베르 카뮈), 손기원의 포스트 게놈 시대(손기원), 나쁜 사마리아인들(장하준), 10대와 통하는 건강이야기(권세원), 난장이가 쏘아 올린 작은 공(조세희)"

중복된 단어와 중복 횟수 :  ['아는', 2]

,name,section,year,grade,sem,book
22,고영희,공통,2019,2,1,"동물농장(조지 오웰), 탐정이 된 과학자들(마릴리 피터스), 자본주의의 슈퍼스타들(브누아 시아), 하라하라의 과학 24시(이은희), 청소년을 위한 민주주의 여행(유영근), 과학의 놀라운 신비 75가지(제니 볼봅스키, 줄리아 로스먼, 매트 라모스), 왜 세계의 절반은 굶주리는가?(장 지글러), 혼자 공부법(송용섭), 역사 선생님과 떠나는 시간 나들이, 동아시아(박종현), 정재승의 과학 콘서트(정재승), 인류의 기원(이상희, 윤신영), 국제거래와 환율 쫌 아는 10대(석혜원)"
26,고영희,공통,2019,2,2,"젠트리피케이션 쫌 아는 10대(장성익), 물 속을 나는 새(이원영), 청소년 농부 학교(김한수, 김경윤, 정화진), 광해군:탁월한 외교 정책을 펼친 군주(한명기), 노인과 바다(어니스트 헤밍웨이), 재밌어서 밤새 읽는 지구과학 이야기(사아키 다케오), 그 많던 싱아는 누가 다 먹었을까(박완서), 이지성의 꿈꾸는 다락방(이지성), 갈릴레오의 두 우주 체계에 관한 대화(오철우), 1984(조지 오웰), 동물원에서 만난 세계사(손주현), 청소년을 위한 공학 이야기(오원철, 김형주), 콜레라는 어떻게 문명을 구했나(존 퀘이조), 말랑하고 쫀득한 세계지리 이야기(케네스 C.데이비드), 왜 기후변화가 문제일까?(공우석)"

중복된 단어와 중복 횟수 :  ['10대', 2]

,name,section,year,grade,sem,book
22,고영희,공통,2019,2,1,"동물농장(조지 오웰), 탐정이 된 과학자들(마릴리 피터스), 자본주의의 슈퍼스타들(브누아 시아), 하라하라의 과학 24시(이은희), 청소년을 위한 민주주의 여행(유영근), 과학의 놀라운 신비 75가지(제니 볼봅스키, 줄리아 로스먼, 매트 라모스), 왜 세계의 절반은 굶주리는가?(장 지글러), 혼자 공부법(송용섭), 역사 선생님과 떠나는 시간 나들이, 동아시아(박종현), 정재승의 과학 콘서트(정재승), 인류의 기원(이상희, 윤신영), 국제거래와 환율 쫌 아는 10대(석혜원)"
26,고영희,공통,2019,2,2,"젠트리피케이션 쫌 아는 10대(장성익), 물 속을 나는 새(이원영), 청소년 농부 학교(김한수, 김경윤, 정화진), 광해군:탁월한 외교 정책을 펼친 군주(한명기), 노인과 바다(어니스트 헤밍웨이), 재밌어서 밤새 읽는 지구과학 이야기(사아키 다케오), 그 많던 싱아는 누가 다 먹었을까(박완서), 이지성의 꿈꾸는 다락방(이지성), 갈릴레오의 두 우주 체계에 관한 대화(오철우), 1984(조지 오웰), 동물원에서 만난 세계사(손주현), 청소년을 위한 공학 이야기(오원철, 김형주), 콜레라는 어떻게 문명을 구했나(존 퀘이조), 말랑하고 쫀득한 세계지리 이야기(케네스 C.데이비드), 왜 기후변화가 문제일까?(공우석)"
35,고영희,공통,2020,3,2,"영어 1등급은 이렇게 공부한다(정승익), 전교 1등의 책상1(중앙일보 열려라 공부팀), 문명과 수학(EBS 문명과 수학 제작팀), 약국에 없는 약 이야기(박성규), 송동훈의 그랜드 특허 서유럽편(송동훈), 무소유(법정), 10대를 위한 완벽한 진로 공부법(앤디 림), 10대를 위한 JUSTICE 정의란 무엇인가(마이클 샌델), 이방인(알베르 카뮈), 손기원의 포스트 게놈 시대(손기원), 나쁜 사마리아인들(장하준), 10대와 통하는 건강이야기(권세원), 난장이가 쏘아 올린 작은 공(조세희)"

중복된 단어와 중복 횟수 :  ['나는', 3]

,name,section,year,grade,sem,book
22,고영희,공통,2019,2,1,"동물농장(조지 오웰), 탐정이 된 과학자들(마릴리 피터스), 자본주의의 슈퍼스타들(브누아 시아), 하라하라의 과학 24시(이은희), 청소년을 위한 민주주의 여행(유영근), 과학의 놀라운 신비 75가지(제니 볼봅스키, 줄리아 로스먼, 매트 라모스), 왜 세계의 절반은 굶주리는가?(장 지글러), 혼자 공부법(송용섭), 역사 선생님과 떠나는 시간 나들이, 동아시아(박종현), 정재승의 과학 콘서트(정재승), 인류의 기원(이상희, 윤신영), 국제거래와 환율 쫌 아는 10대(석혜원)"
23,고영희,국어,2019,2,2,"달처럼 동그란 내 얼굴(미레유 디스데로), 나는 초콜릿의 달콤함을 모릅니다(타라 설리번)"
26,고영희,공통,2019,2,2,"젠트리피케이션 쫌 아는 10대(장성익), 물 속을 나는 새(이원영), 청소년 농부 학교(김한수, 김경윤, 정화진), 광해군:탁월한 외교 정책을 펼친 군주(한명기), 노인과 바다(어니스트 헤밍웨이), 재밌어서 밤새 읽는 지구과학 이야기(사아키 다케오), 그 많던 싱아는 누가 다 먹었을까(박완서), 이지성의 꿈꾸는 다락방(이지성), 갈릴레오의 두 우주 체계에 관한 대화(오철우), 1984(조지 오웰), 동물원에서 만난 세계사(손주현), 청소년을 위한 공학 이야기(오원철, 김형주), 콜레라는 어떻게 문명을 구했나(존 퀘이조), 말랑하고 쫀득한 세계지리 이야기(케네스 C.데이비드), 왜 기후변화가 문제일까?(공우석)"
33,고영희,공통,2020,3,1,"다케오), 1등은 당신처럼 공부하지 않았다(김도윤), 차이나는 클라스: 국제 정치 편(JTBC 제작진), 뇌 인간을 읽다(마이클 코벌리스), 전염병이 휩쓴 세계사(김서형), 진로를 정하지 못한 나, 비정상 인가요(최현정), 유토피아(토마스 모어), 세상을 바꿀 미래 의학 설명서(사라 라타), 공부 이래도 안되면 포기 하세요(이지훈), 유럽도시 기행I(유시민)"
34,고영희,국어,2020,3,2,"나를 찾는 심리 탐구서(박진영), 나는 말랄라(말랄라 유사이프, 퍼트리샤 매코믹)"

중복된 단어와 중복 횟수 :  ['어떻게', 2]

,name,section,year,grade,sem,book
25,고영희,과학,2019,2,2,"지구 온난화, 어떻게 해결할까?(이충환)"
26,고영희,공통,2019,2,2,"젠트리피케이션 쫌 아는 10대(장성익), 물 속을 나는 새(이원영), 청소년 농부 학교(김한수, 김경윤, 정화진), 광해군:탁월한 외교 정책을 펼친 군주(한명기), 노인과 바다(어니스트 헤밍웨이), 재밌어서 밤새 읽는 지구과학 이야기(사아키 다케오), 그 많던 싱아는 누가 다 먹었을까(박완서), 이지성의 꿈꾸는 다락방(이지성), 갈릴레오의 두 우주 체계에 관한 대화(오철우), 1984(조지 오웰), 동물원에서 만난 세계사(손주현), 청소년을 위한 공학 이야기(오원철, 김형주), 콜레라는 어떻게 문명을 구했나(존 퀘이조), 말랑하고 쫀득한 세계지리 이야기(케네스 C.데이비드), 왜 기후변화가 문제일까?(공우석)"

중복된 단어와 중복 횟수 :  ['재밌어서', 2]

,name,section,year,grade,sem,book
26,고영희,공통,2019,2,2,"젠트리피케이션 쫌 아는 10대(장성익), 물 속을 나는 새(이원영), 청소년 농부 학교(김한수, 김경윤, 정화진), 광해군:탁월한 외교 정책을 펼친 군주(한명기), 노인과 바다(어니스트 헤밍웨이), 재밌어서 밤새 읽는 지구과학 이야기(사아키 다케오), 그 많던 싱아는 누가 다 먹었을까(박완서), 이지성의 꿈꾸는 다락방(이지성), 갈릴레오의 두 우주 체계에 관한 대화(오철우), 1984(조지 오웰), 동물원에서 만난 세계사(손주현), 청소년을 위한 공학 이야기(오원철, 김형주), 콜레라는 어떻게 문명을 구했나(존 퀘이조), 말랑하고 쫀득한 세계지리 이야기(케네스 C.데이비드), 왜 기후변화가 문제일까?(공우석)"
29,고영희,공통,2020,3,1,"도대체 극단주의가 뭐야(안야 러임쉬셀), 오늘도 약을 먹었습니다(박한슬), 정치 이야기, 뭔데 이렇게 재밌어(콘덱스 정보연구소), 재밌어서 밤새 읽는 인류 진화 이야기(사마키"

중복된 단어와 중복 횟수 :  ['밤새', 2]

,name,section,year,grade,sem,book
26,고영희,공통,2019,2,2,"젠트리피케이션 쫌 아는 10대(장성익), 물 속을 나는 새(이원영), 청소년 농부 학교(김한수, 김경윤, 정화진), 광해군:탁월한 외교 정책을 펼친 군주(한명기), 노인과 바다(어니스트 헤밍웨이), 재밌어서 밤새 읽는 지구과학 이야기(사아키 다케오), 그 많던 싱아는 누가 다 먹었을까(박완서), 이지성의 꿈꾸는 다락방(이지성), 갈릴레오의 두 우주 체계에 관한 대화(오철우), 1984(조지 오웰), 동물원에서 만난 세계사(손주현), 청소년을 위한 공학 이야기(오원철, 김형주), 콜레라는 어떻게 문명을 구했나(존 퀘이조), 말랑하고 쫀득한 세계지리 이야기(케네스 C.데이비드), 왜 기후변화가 문제일까?(공우석)"
29,고영희,공통,2020,3,1,"도대체 극단주의가 뭐야(안야 러임쉬셀), 오늘도 약을 먹었습니다(박한슬), 정치 이야기, 뭔데 이렇게 재밌어(콘덱스 정보연구소), 재밌어서 밤새 읽는 인류 진화 이야기(사마키"

중복된 단어와 중복 횟수 :  ['읽는', 2]

,name,section,year,grade,sem,book
26,고영희,공통,2019,2,2,"젠트리피케이션 쫌 아는 10대(장성익), 물 속을 나는 새(이원영), 청소년 농부 학교(김한수, 김경윤, 정화진), 광해군:탁월한 외교 정책을 펼친 군주(한명기), 노인과 바다(어니스트 헤밍웨이), 재밌어서 밤새 읽는 지구과학 이야기(사아키 다케오), 그 많던 싱아는 누가 다 먹었을까(박완서), 이지성의 꿈꾸는 다락방(이지성), 갈릴레오의 두 우주 체계에 관한 대화(오철우), 1984(조지 오웰), 동물원에서 만난 세계사(손주현), 청소년을 위한 공학 이야기(오원철, 김형주), 콜레라는 어떻게 문명을 구했나(존 퀘이조), 말랑하고 쫀득한 세계지리 이야기(케네스 C.데이비드), 왜 기후변화가 문제일까?(공우석)"
29,고영희,공통,2020,3,1,"도대체 극단주의가 뭐야(안야 러임쉬셀), 오늘도 약을 먹었습니다(박한슬), 정치 이야기, 뭔데 이렇게 재밌어(콘덱스 정보연구소), 재밌어서 밤새 읽는 인류 진화 이야기(사마키"

중복된 단어와 중복 횟수 :  ['이야기', 6]

,name,section,year,grade,sem,book
26,고영희,공통,2019,2,2,"젠트리피케이션 쫌 아는 10대(장성익), 물 속을 나는 새(이원영), 청소년 농부 학교(김한수, 김경윤, 정화진), 광해군:탁월한 외교 정책을 펼친 군주(한명기), 노인과 바다(어니스트 헤밍웨이), 재밌어서 밤새 읽는 지구과학 이야기(사아키 다케오), 그 많던 싱아는 누가 다 먹었을까(박완서), 이지성의 꿈꾸는 다락방(이지성), 갈릴레오의 두 우주 체계에 관한 대화(오철우), 1984(조지 오웰), 동물원에서 만난 세계사(손주현), 청소년을 위한 공학 이야기(오원철, 김형주), 콜레라는 어떻게 문명을 구했나(존 퀘이조), 말랑하고 쫀득한 세계지리 이야기(케네스 C.데이비드), 왜 기후변화가 문제일까?(공우석)"
29,고영희,공통,2020,3,1,"도대체 극단주의가 뭐야(안야 러임쉬셀), 오늘도 약을 먹었습니다(박한슬), 정치 이야기, 뭔데 이렇게 재밌어(콘덱스 정보연구소), 재밌어서 밤새 읽는 인류 진화 이야기(사마키"
35,고영희,공통,2020,3,2,"영어 1등급은 이렇게 공부한다(정승익), 전교 1등의 책상1(중앙일보 열려라 공부팀), 문명과 수학(EBS 문명과 수학 제작팀), 약국에 없는 약 이야기(박성규), 송동훈의 그랜드 특허 서유럽편(송동훈), 무소유(법정), 10대를 위한 완벽한 진로 공부법(앤디 림), 10대를 위한 JUSTICE 정의란 무엇인가(마이클 샌델), 이방인(알베르 카뮈), 손기원의 포스트 게놈 시대(손기원), 나쁜 사마리아인들(장하준), 10대와 통하는 건강이야기(권세원), 난장이가 쏘아 올린 작은 공(조세희)"

중복된 단어와 중복 횟수 :  ['다케오', 2]

,name,section,year,grade,sem,book
26,고영희,공통,2019,2,2,"젠트리피케이션 쫌 아는 10대(장성익), 물 속을 나는 새(이원영), 청소년 농부 학교(김한수, 김경윤, 정화진), 광해군:탁월한 외교 정책을 펼친 군주(한명기), 노인과 바다(어니스트 헤밍웨이), 재밌어서 밤새 읽는 지구과학 이야기(사아키 다케오), 그 많던 싱아는 누가 다 먹었을까(박완서), 이지성의 꿈꾸는 다락방(이지성), 갈릴레오의 두 우주 체계에 관한 대화(오철우), 1984(조지 오웰), 동물원에서 만난 세계사(손주현), 청소년을 위한 공학 이야기(오원철, 김형주), 콜레라는 어떻게 문명을 구했나(존 퀘이조), 말랑하고 쫀득한 세계지리 이야기(케네스 C.데이비드), 왜 기후변화가 문제일까?(공우석)"
33,고영희,공통,2020,3,1,"다케오), 1등은 당신처럼 공부하지 않았다(김도윤), 차이나는 클라스: 국제 정치 편(JTBC 제작진), 뇌 인간을 읽다(마이클 코벌리스), 전염병이 휩쓴 세계사(김서형), 진로를 정하지 못한 나, 비정상 인가요(최현정), 유토피아(토마스 모어), 세상을 바꿀 미래 의학 설명서(사라 라타), 공부 이래도 안되면 포기 하세요(이지훈), 유럽도시 기행I(유시민)"

중복된 단어와 중복 횟수 :  ['세계사', 2]

,name,section,year,grade,sem,book
26,고영희,공통,2019,2,2,"젠트리피케이션 쫌 아는 10대(장성익), 물 속을 나는 새(이원영), 청소년 농부 학교(김한수, 김경윤, 정화진), 광해군:탁월한 외교 정책을 펼친 군주(한명기), 노인과 바다(어니스트 헤밍웨이), 재밌어서 밤새 읽는 지구과학 이야기(사아키 다케오), 그 많던 싱아는 누가 다 먹었을까(박완서), 이지성의 꿈꾸는 다락방(이지성), 갈릴레오의 두 우주 체계에 관한 대화(오철우), 1984(조지 오웰), 동물원에서 만난 세계사(손주현), 청소년을 위한 공학 이야기(오원철, 김형주), 콜레라는 어떻게 문명을 구했나(존 퀘이조), 말랑하고 쫀득한 세계지리 이야기(케네스 C.데이비드), 왜 기후변화가 문제일까?(공우석)"
33,고영희,공통,2020,3,1,"다케오), 1등은 당신처럼 공부하지 않았다(김도윤), 차이나는 클라스: 국제 정치 편(JTBC 제작진), 뇌 인간을 읽다(마이클 코벌리스), 전염병이 휩쓴 세계사(김서형), 진로를 정하지 못한 나, 비정상 인가요(최현정), 유토피아(토마스 모어), 세상을 바꿀 미래 의학 설명서(사라 라타), 공부 이래도 안되면 포기 하세요(이지훈), 유럽도시 기행I(유시민)"

중복된 단어와 중복 횟수 :  ['정치', 2]

,name,section,year,grade,sem,book
29,고영희,공통,2020,3,1,"도대체 극단주의가 뭐야(안야 러임쉬셀), 오늘도 약을 먹었습니다(박한슬), 정치 이야기, 뭔데 이렇게 재밌어(콘덱스 정보연구소), 재밌어서 밤새 읽는 인류 진화 이야기(사마키"
33,고영희,공통,2020,3,1,"다케오), 1등은 당신처럼 공부하지 않았다(김도윤), 차이나는 클라스: 국제 정치 편(JTBC 제작진), 뇌 인간을 읽다(마이클 코벌리스), 전염병이 휩쓴 세계사(김서형), 진로를 정하지 못한 나, 비정상 인가요(최현정), 유토피아(토마스 모어), 세상을 바꿀 미래 의학 설명서(사라 라타), 공부 이래도 안되면 포기 하세요(이지훈), 유럽도시 기행I(유시민)"

중복된 단어와 중복 횟수 :  ['이렇게', 2]

,name,section,year,grade,sem,book
29,고영희,공통,2020,3,1,"도대체 극단주의가 뭐야(안야 러임쉬셀), 오늘도 약을 먹었습니다(박한슬), 정치 이야기, 뭔데 이렇게 재밌어(콘덱스 정보연구소), 재밌어서 밤새 읽는 인류 진화 이야기(사마키"
35,고영희,공통,2020,3,2,"영어 1등급은 이렇게 공부한다(정승익), 전교 1등의 책상1(중앙일보 열려라 공부팀), 문명과 수학(EBS 문명과 수학 제작팀), 약국에 없는 약 이야기(박성규), 송동훈의 그랜드 특허 서유럽편(송동훈), 무소유(법정), 10대를 위한 완벽한 진로 공부법(앤디 림), 10대를 위한 JUSTICE 정의란 무엇인가(마이클 샌델), 이방인(알베르 카뮈), 손기원의 포스트 게놈 시대(손기원), 나쁜 사마리아인들(장하준), 10대와 통하는 건강이야기(권세원), 난장이가 쏘아 올린 작은 공(조세희)"

중복된 단어와 중복 횟수 :  ['마이클', 2]

,name,section,year,grade,sem,book
33,고영희,공통,2020,3,1,"다케오), 1등은 당신처럼 공부하지 않았다(김도윤), 차이나는 클라스: 국제 정치 편(JTBC 제작진), 뇌 인간을 읽다(마이클 코벌리스), 전염병이 휩쓴 세계사(김서형), 진로를 정하지 못한 나, 비정상 인가요(최현정), 유토피아(토마스 모어), 세상을 바꿀 미래 의학 설명서(사라 라타), 공부 이래도 안되면 포기 하세요(이지훈), 유럽도시 기행I(유시민)"
35,고영희,공통,2020,3,2,"영어 1등급은 이렇게 공부한다(정승익), 전교 1등의 책상1(중앙일보 열려라 공부팀), 문명과 수학(EBS 문명과 수학 제작팀), 약국에 없는 약 이야기(박성규), 송동훈의 그랜드 특허 서유럽편(송동훈), 무소유(법정), 10대를 위한 완벽한 진로 공부법(앤디 림), 10대를 위한 JUSTICE 정의란 무엇인가(마이클 샌델), 이방인(알베르 카뮈), 손기원의 포스트 게놈 시대(손기원), 나쁜 사마리아인들(장하준), 10대와 통하는 건강이야기(권세원), 난장이가 쏘아 올린 작은 공(조세희)"

중복된 단어와 중복 횟수 :  ['말랄라', 2]

   name section  year grade sem                                           book
34  고영희      국어  2020     3   2  나를 찾는 심리 탐구서(박진영), 나는 말랄라(말랄라 유사이프, 퍼트리샤 매코믹)

중복된 단어와 중복 횟수 :  ['문명과', 2]

,name,section,year,grade,sem,book
35,고영희,공통,2020,3,2,"영어 1등급은 이렇게 공부한다(정승익), 전교 1등의 책상1(중앙일보 열려라 공부팀), 문명과 수학(EBS 문명과 수학 제작팀), 약국에 없는 약 이야기(박성규), 송동훈의 그랜드 특허 서유럽편(송동훈), 무소유(법정), 10대를 위한 완벽한 진로 공부법(앤디 림), 10대를 위한 JUSTICE 정의란 무엇인가(마이클 샌델), 이방인(알베르 카뮈), 손기원의 포스트 게놈 시대(손기원), 나쁜 사마리아인들(장하준), 10대와 통하는 건강이야기(권세원), 난장이가 쏘아 올린 작은 공(조세희)"

중복된 단어와 중복 횟수 :  ['수학', 2]

,name,section,year,grade,sem,book
19,고영희,수학,2018,1,2,수학의 역사(지즈강)
24,고영희,수학,2019,2,2,수학비타민 플러스(박경미)
35,고영희,공통,2020,3,2,"영어 1등급은 이렇게 공부한다(정승익), 전교 1등의 책상1(중앙일보 열려라 공부팀), 문명과 수학(EBS 문명과 수학 제작팀), 약국에 없는 약 이야기(박성규), 송동훈의 그랜드 특허 서유럽편(송동훈), 무소유(법정), 10대를 위한 완벽한 진로 공부법(앤디 림), 10대를 위한 JUSTICE 정의란 무엇인가(마이클 샌델), 이방인(알베르 카뮈), 손기원의 포스트 게놈 시대(손기원), 나쁜 사마리아인들(장하준), 10대와 통하는 건강이야기(권세원), 난장이가 쏘아 올린 작은 공(조세희)"

중복된 단어와 중복 횟수 :  ['10대를', 2]

,name,section,year,grade,sem,book
35,고영희,공통,2020,3,2,"영어 1등급은 이렇게 공부한다(정승익), 전교 1등의 책상1(중앙일보 열려라 공부팀), 문명과 수학(EBS 문명과 수학 제작팀), 약국에 없는 약 이야기(박성규), 송동훈의 그랜드 특허 서유럽편(송동훈), 무소유(법정), 10대를 위한 완벽한 진로 공부법(앤디 림), 10대를 위한 JUSTICE 정의란 무엇인가(마이클 샌델), 이방인(알베르 카뮈), 손기원의 포스트 게놈 시대(손기원), 나쁜 사마리아인들(장하준), 10대와 통하는 건강이야기(권세원), 난장이가 쏘아 올린 작은 공(조세희)"

김민경 학생의 중복된 항목이 있습니다....: [['나는', 2], ['말랄라', 2]]
다음 영역 중에서 찾아보세요.

중복된 단어와 중복 횟수 :  ['나는', 2]

,name,section,year,grade,sem,book
40,김민경,국어,2019,2,2,"달처럼 동그란 내 얼굴(미레유 디스데로), 나는 초콜릿의 달콤함을 모릅니다(타라 설리번)"
47,김민경,국어,2020,3,2,"나는 말랄라(말랄라 유사이프, 퍼트리샤 매코믹)"

중복된 단어와 중복 횟수 :  ['말랄라', 2]

   name section  year grade sem                        book
47  김민경      국어  2020     3   2  나는 말랄라(말랄라 유사이프, 퍼트리샤 매코믹)

김민수 학생의 중복된 항목이 있습니다....: [['나는', 2], ['말랄라', 2]]
다음 영역 중에서 찾아보세요.

중복된 단어와 중복 횟수 :  ['나는', 2]

,name,section,year,grade,sem,book
54,김민수,국어,2019,2,2,"달처럼 동그란 내 얼굴(미레유 디스데로), 나는 초콜릿의 달콤함을 모릅니다(타라 설리번)"
59,김민수,국어,2020,3,2,"나는 말랄라(말랄라 유사이프, 퍼트리샤 매코믹)"

중복된 단어와 중복 횟수 :  ['말랄라', 2]

   name section  year grade sem                        book
59  김민수      국어  2020     3   2  나는 말랄라(말랄라 유사이프, 퍼트리샤 매코믹)

나영수 학생의 중복된 항목이 있습니다....: [['이야기', 2], ['나는', 2], ['않는다', 2], ['말랄라', 2]]
다음 영역 중에서 찾아보세요.

중복된 단어와 중복 횟수 :  ['이야기', 2]

,name,section,year,grade,sem,book
60,나영수,공통,2018,1,1,"무섭지만 재밌어서 밤새 읽는 과학 이야기(다케우치 가오루), 내가 그린 히말라야시다 그림(성석제), 실베스타가 들려주는 행렬 이야기(신경희)"

중복된 단어와 중복 횟수 :  ['나는', 2]

,name,section,year,grade,sem,book
65,나영수,국어,2019,2,2,"달처럼 동그란 내 얼굴(미레유 디스데로), 나는 초콜릿의 달콤함을 모릅니다(타라 설리번)"
75,나영수,국어,2020,3,2,"나는 말랄라(말랄라 유사이프, 퍼트리샤 매코믹)"

중복된 단어와 중복 횟수 :  ['않는다', 2]

,name,section,year,grade,sem,book
68,나영수,공통,2019,2,2,"일상적이지만 절대적인 과학철학 지식 50(개러스 사우스웰), 무한-우주의 신비와 한계(장 피에르 뤼미네, 마르크 라시에즈 레이), 페르마의 마지막 정리(사이먼 싱), 공자가 죽어야 나라가 산다(김경일), 이기적 유전자(리처드 도킨스), 물리학 패러독스(짐 알칼릴리), 수학자는 행운을 믿지 않는다(애덤 쿠하르스키), 양자물리학은 신의 주사위 놀이인가(장상현), 논리와 오류-비판적 사고와 논증(유순근), 기계는 어떻게 생각하고 학습하는가(뉴 사이언티스트 외)"
74,나영수,공통,2020,3,1,생각은 죽지 않는다(클리이브 톰슨)

중복된 단어와 중복 횟수 :  ['말랄라', 2]

   name section  year grade sem                        book
75  나영수      국어  2020     3   2  나는 말랄라(말랄라 유사이프, 퍼트리샤 매코믹)

다영호 학생의 중복된 항목이 있습니다....: [['나는', 2], ['말랄라', 2]]
다음 영역 중에서 찾아보세요.

중복된 단어와 중복 횟수 :  ['나는', 2]

,name,section,year,grade,sem,book
81,다영호,국어,2019,2,2,"달처럼 동그란 내 얼굴(미레유 디스데로), 나는 초콜릿의 달콤함을 모릅니다(타라 설리번)"
88,다영호,국어,2020,3,2,"나는 말랄라(말랄라 유사이프, 퍼트리샤 매코믹)"

중복된 단어와 중복 횟수 :  ['말랄라', 2]

   name section  year grade sem                        book
88  다영호      국어  2020     3   2  나는 말랄라(말랄라 유사이프, 퍼트리샤 매코믹)

라이언 학생의 중복된 항목이 있습니다....: [['김유정', 2], ['나는', 2], ['말랄라', 2]]
다음 영역 중에서 찾아보세요.

중복된 단어와 중복 횟수 :  ['김유정', 2]

   name section  year grade sem                                        book
96  라이언      공통  2019     2   1  레디메이드 인생(채만식), 봄봄(김유정), 만무방(김유정), 사하촌(김정한)

중복된 단어와 중복 횟수 :  ['나는', 2]

,name,section,year,grade,sem,book
97,라이언,국어,2019,2,2,"달처럼 동그란 내 얼굴(미레유 디스데로), 나는 초콜릿의 달콤함을 모릅니다(타라 설리번)"
104,라이언,국어,2020,3,2,"나는 말랄라(말랄라 유사이프, 퍼트리샤 매코믹)"

중복된 단어와 중복 횟수 :  ['말랄라', 2]

    name section  year grade sem                        book
104  라이언      국어  2020     3   2  나는 말랄라(말랄라 유사이프, 퍼트리샤 매코믹)

마성수 학생의 중복된 항목이 있습니다....: [['함께', 8], ['최성윤', 4], ['교수와', 4], ['읽는', 7], ['설중환', 4], ['나는', 2], ['해설과', 2], ['말랄라', 2]]
다음 영역 중에서 찾아보세요.

중복된 단어와 중복 횟수 :  ['함께', 8]

,name,section,year,grade,sem,book
107,마성수,공통,2018,1,2,"나미야 잡화점의 기적(히가시노 게이고), 하이킹 걸즈(김혜정), 퍼즐(박순옥), 큰발중국아가씨(렌세이 나미오카), 완득이(김려령), 식탁위의 세계사(이영숙), 수학 귀신(한스 마그누스 엔첸스베르거), 모리와 함께 한 화요일(미치 앨봄), 피아노 살인(김성종)"
109,마성수,공통,2019,2,1,"가자에 띄운 편지(발레리 제니타), 이토록 공부가 재미있어지는 순간(박성혁), 생각하는 십대들을 위한 토론 콘서트:한국사(김태훈), 최성윤 교수와 함께 읽는 허생전, 양반전(박지원, 최성윤), 최성윤 교수와 함께 읽는 홍길동전(허균, 최성윤), 설중환 교수와 함께 읽는 금오신화(김시습, 설중환)"
113,마성수,공통,2019,2,2,"해설과 함께 읽는 빈처/벙어리 삼룡이 외(전도연 엮음), 이름을 빼앗긴 소녀 에바(조안 M. 울프), 구운몽(김만중)"
119,마성수,공통,2020,3,1,"권오숙 교수의 해설과 함께 읽는 베니스의 상인(윌리엄 셰익스피어), 설중환 교수와 함께 읽는 춘향전(설중환), 엄광용 선생님과 함께 읽는 삼국유사(일연)"

중복된 단어와 중복 횟수 :  ['최성윤', 4]

,name,section,year,grade,sem,book
109,마성수,공통,2019,2,1,"가자에 띄운 편지(발레리 제니타), 이토록 공부가 재미있어지는 순간(박성혁), 생각하는 십대들을 위한 토론 콘서트:한국사(김태훈), 최성윤 교수와 함께 읽는 허생전, 양반전(박지원, 최성윤), 최성윤 교수와 함께 읽는 홍길동전(허균, 최성윤), 설중환 교수와 함께 읽는 금오신화(김시습, 설중환)"

중복된 단어와 중복 횟수 :  ['교수와', 4]

,name,section,year,grade,sem,book
109,마성수,공통,2019,2,1,"가자에 띄운 편지(발레리 제니타), 이토록 공부가 재미있어지는 순간(박성혁), 생각하는 십대들을 위한 토론 콘서트:한국사(김태훈), 최성윤 교수와 함께 읽는 허생전, 양반전(박지원, 최성윤), 최성윤 교수와 함께 읽는 홍길동전(허균, 최성윤), 설중환 교수와 함께 읽는 금오신화(김시습, 설중환)"
119,마성수,공통,2020,3,1,"권오숙 교수의 해설과 함께 읽는 베니스의 상인(윌리엄 셰익스피어), 설중환 교수와 함께 읽는 춘향전(설중환), 엄광용 선생님과 함께 읽는 삼국유사(일연)"

중복된 단어와 중복 횟수 :  ['읽는', 7]

,name,section,year,grade,sem,book
109,마성수,공통,2019,2,1,"가자에 띄운 편지(발레리 제니타), 이토록 공부가 재미있어지는 순간(박성혁), 생각하는 십대들을 위한 토론 콘서트:한국사(김태훈), 최성윤 교수와 함께 읽는 허생전, 양반전(박지원, 최성윤), 최성윤 교수와 함께 읽는 홍길동전(허균, 최성윤), 설중환 교수와 함께 읽는 금오신화(김시습, 설중환)"
113,마성수,공통,2019,2,2,"해설과 함께 읽는 빈처/벙어리 삼룡이 외(전도연 엮음), 이름을 빼앗긴 소녀 에바(조안 M. 울프), 구운몽(김만중)"
119,마성수,공통,2020,3,1,"권오숙 교수의 해설과 함께 읽는 베니스의 상인(윌리엄 셰익스피어), 설중환 교수와 함께 읽는 춘향전(설중환), 엄광용 선생님과 함께 읽는 삼국유사(일연)"

중복된 단어와 중복 횟수 :  ['설중환', 4]

,name,section,year,grade,sem,book
109,마성수,공통,2019,2,1,"가자에 띄운 편지(발레리 제니타), 이토록 공부가 재미있어지는 순간(박성혁), 생각하는 십대들을 위한 토론 콘서트:한국사(김태훈), 최성윤 교수와 함께 읽는 허생전, 양반전(박지원, 최성윤), 최성윤 교수와 함께 읽는 홍길동전(허균, 최성윤), 설중환 교수와 함께 읽는 금오신화(김시습, 설중환)"
119,마성수,공통,2020,3,1,"권오숙 교수의 해설과 함께 읽는 베니스의 상인(윌리엄 셰익스피어), 설중환 교수와 함께 읽는 춘향전(설중환), 엄광용 선생님과 함께 읽는 삼국유사(일연)"

중복된 단어와 중복 횟수 :  ['나는', 2]

,name,section,year,grade,sem,book
110,마성수,국어,2019,2,2,"달처럼 동그란 내 얼굴(미레유 디스데로), 나는 초콜릿의 달콤함을 모릅니다(타라 설리번)"
120,마성수,국어,2020,3,2,"나는 말랄라(말랄라 유사이프, 퍼트리샤 매코믹)"

중복된 단어와 중복 횟수 :  ['해설과', 2]

,name,section,year,grade,sem,book
113,마성수,공통,2019,2,2,"해설과 함께 읽는 빈처/벙어리 삼룡이 외(전도연 엮음), 이름을 빼앗긴 소녀 에바(조안 M. 울프), 구운몽(김만중)"
119,마성수,공통,2020,3,1,"권오숙 교수의 해설과 함께 읽는 베니스의 상인(윌리엄 셰익스피어), 설중환 교수와 함께 읽는 춘향전(설중환), 엄광용 선생님과 함께 읽는 삼국유사(일연)"

중복된 단어와 중복 횟수 :  ['말랄라', 2]

    name section  year grade sem                        book
120  마성수      국어  2020     3   2  나는 말랄라(말랄라 유사이프, 퍼트리샤 매코믹)

# 중복된 부분 찾기 (3) 자연어 처리(kiwi)

In [24]:
#to be continued